<main class="main">
  <mat-toolbar color="primary">
    <mat-icon>calculate</mat-icon>

    <span class="ms-3">
      <a routerLink="home" class="text-white title">Maths Mania</a>
    </span>

    <span class="example-spacer"></span>

    <button
      mat-button
      [matMenuTriggerFor]="menuLessons"
      class="text-white title"
    >
      Cours
    </button>
    <mat-menu #menuLessons="matMenu">
      <button mat-menu-item routerLink="lessons/CM2">CM2</button>
      <button mat-menu-item routerLink="lessons/6E">6e</button>
      <button mat-menu-item routerLink="lessons/5E">5e</button>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="menuExercises"
      class="text-white title"
    >
      Exercices
    </button>
    <mat-menu #menuExercises="matMenu">
      <button mat-menu-item routerLink="exercises/1">Calculs</button>
      <button mat-menu-item routerLink="exercises/2">Comparaisons</button>
      <button mat-menu-item routerLink="exercises/3">Décompositions</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuGames" class="text-white title">
      Jeux
    </button>
    <mat-menu #menuGames="matMenu">
      <button mat-menu-item routerLink="games/1">
        Promenade dans les nuages
      </button>
      <button mat-menu-item routerLink="games/2">Tir sur les ballons</button>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>
</main>
